{% extends "base.html" %}

{% block title %} {{block.super}} | Lista contatti {% endblock title %}

{% block content %}

    <h1>Lista contatti:</h1>

        <table class="table table-bordered">
                <tr>
                    {% if request.user.is_authenticated %}
                    <th>Cancella</th>
                    <th>Modifica</th>
                    {% endif %}
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Email</th>
                    <th>Contenuto</th>
                </tr>
            <tbody> 
            {% for contatto in contatti %} 
            <tr>{% if request.user.is_authenticated %}
                <td><a href={%url 'forms_app:elimina_contatto' contatto.pk%}><i class="fas fa-eraser"></i></a></td>
                <td><a href={%url 'forms_app:modifica_contatto' contatto.pk%}><i class="far fa-edit"></i></a></td>
                {% endif %} 
                <td>{{ contatto.nome }}</td> 
                <td>{{ contatto.cognome }}</td> 
                <td>{{ contatto.email }}</td>
                <td>{{ contatto.contenuto }}</td></tr> 
            {% endfor %} 
            </tbody>
        </table>
{% endblock content %}