{% extends "base.html" %}

{% block title %} {{block.super}} | IndexNews  {% endblock title %}

{% block content %}
<ol>
    <li><a href="{% url 'news:homeview'%}">Home news</a></li>
    <li><a href="{% url 'news:lista_articoli'%}">Articoli</a></li>
    <li><a href="{% url 'news:query_base'%}">Query Varie</a></li>
    <li><a href="{% url 'news:giornalisti_list_api'%}">Lista dei giornalisti API</a></li>
    <li><a href="{% url 'news:articoli_list_api'%}">Lista degli articoli API</a></li>
    <li><a href="/">Index</a></li>
</ol>
{% endblock content %}
