{% extends "base.html" %}

{% block title %} {{block.super}} | Query  {% endblock title %}

{% block content %}

<h1>Risultati Query</h1>

<h2>1. Tutti gli articoli scritti da giornalisti di un certo cognome: </h2>
<ul>
    {% for articolo in articoli_cognome %}
        <li>{{ articolo.titolo }}</li>
    {% endfor %}
</ul>

<h2>2. Totale</h2>
<p>{{ numero_totale_articoli }}</p>

<h2>3. Contare il numero di articoli scritti da un giornalista specifico:</h2>
<p>{{ numero_articoli_giornalista_1 }}</p>

<h2>4. Ordinare gli articoli per numero di visualizzazioni in ordine decrescente</h2>
<ul>
    {% for articolo in articoli_ordinati %}
        <li>{{ articolo.titolo }} - Views: {{ articolo.visualizzazioni }}</li>
    {% endfor %}
</ul>

<h2>5. Tutti gli articoli che non hanno visualizzazioni:</h2>
<ul>
    {% for articolo in articoli_senza_visualizzazioni %}
        <li>{{ articolo.titolo }}</li>
    {% endfor %}
</ul>

<h2>6. Articolo più visualizzato</h2>
<p>{{ articolo_piu_visualizzato.titolo }} - Views: {{ articolo_piu_visualizzato.visualizzazioni }}</p>

<h2>7. Tutti i giornalisti nati dopo una certa data:</h2>
<ul>
    {% for giornalista in giornalisti_data %}
        <li>{{ giornalista.nome }} {{ giornalista.cognome }}</li>
    {% endfor %}
</ul>

<h2>8. Tutti gli articoli pubblicati in una data specifica:</h2>
<ul>
    {% for articolo in articoli_del_giorno %}
        <li>{{ articolo.titolo }}</li>
    {% endfor %}
</ul>

<h2>9. Tutti gli articoli pubblicati in un intervallo di date</h2>
<ul>
    {% for articolo in articoli_periodo %}
        <li>{{ articolo.titolo }}</li>
    {% endfor %}
</ul>

<h2>10. Gli articoli scritti da giornalisti nati prima del 1980:</h2>
<ul>
    {% for articolo in articoli_giornalisti %}
        <li>{{ articolo.titolo }}</li>
    {% endfor %}
</ul>

<h2>11. Il giornalista più giovane:</h2>
<p>{{ giornalista_giovane.nome }} {{ giornalista_giovane.cognome }}</p>

<h2>12. Il giornalista più anziano:</h2>
<p>{{ giornalista_anziano.nome }} {{ giornalista_anziano.cognome }}</p>

<h2>13. Gli ultimi 5 articoli pubblicati:</h2>
<ul>
    {% for articolo in ultimi %}
        <li>{{ articolo.titolo }}</li>
    {% endfor %}
</ul>

<h2>14. Tutti gli articoli con un certo numero minimo di visualizzazioni: </h2>
<ul>
    {% for articolo in articoli_minime_visualizzazioni %}
        <li>{{ articolo.titolo }} - Views: {{ articolo.visualizzazioni }}</li>
    {% endfor %}
</ul>

<h2>15. Tutti gli articoli che contengono una certa parola nel titolo: </h2>
<ul>
    {% for articolo in articoli_parola %}
        <li>{{ articolo.titolo }}</li>
    {% endfor %}
</ul>

{% endblock content %}